<div class="photos-wrapper wrapper">
  <div class="btns-container btns-container__left">
    <a routerLink="add" class="btn add-btn">
      <i class="material-icons-outlined">add</i>
      Add
    </a>
    <nz-radio-group nzButtonStyle="solid" [ngModel]="postedStatus$.value" (ngModelChange)="postedStatus$.next($event)">
      <label nz-radio-button [nzValue]="undefined">All</label>
      <label nz-radio-button [nzValue]="true">Posted</label>
      <label nz-radio-button [nzValue]="false">Hidden</label>
    </nz-radio-group>
  </div>
    <div class="container">

    <div
      class="grid-container"
      *ngIf="photos$ | async as photos; else elseBlock"
    >
      <app-card
        *ngFor="let photo of photos; trackBy: trackBy"
        [cover]="photo.file_url"
        [onDelete]="handleDelete(photo.id)"
      >
        <div description>
          <nz-tag
            *ngFor="let category of photo.categories"
            [nzColor]="textToColor(category.title)"
          >
            {{ category.title }}
          </nz-tag>
        </div>
      </app-card>
      <span
        style="padding: 12px 0;"
        intersectionObserver [intersectionDebounce]="0" (visibilityChange)="onVisibilityChanged($event)"
      ></span>
    </div>

    <ng-template #elseBlock>
      <h1>Empty...</h1>
    </ng-template>
  </div>
</div>
