.photos-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 5svh 0 12svh;
}

.photos-wrapper .btns-container {
  position: fixed;
  top: 5svh;
  //transform: translateX(-50%);
}

.photos-wrapper .btns-container__left {
  left: 50px;
}

.photos-wrapper .btns-container__right {
  right: 50px;
}

.photos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

@media screen and (max-width: 1500px) {
  .photos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .photos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .photos-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.photo-card {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  border-radius: 25px;
  background: #00000080;
  height: max-content;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.photo-card img {
  border-radius: 25px;
}

.photo-card__actions {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  margin-top: 0.5rem;
}

.photo-card__actions > * {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  transition: all 150ms ease-in;
}

.photo-card__actions > *:first-child {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.photo-card__actions > *:last-child {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.photo-card__actions > *:hover {
  background: rgba(255, 255, 255, 0.2);
}
